.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  /* custom css */
  body{
    background-color: rgb(233, 241, 239);
    
  }
  .head{
    color: #a6267b;
    text-align: center;
  }
  .reg{
    /* background-color: #000000; */
    background-image: linear-gradient(red, yellow, blue);
    color: white;
    height: 590px;
    align-items: center;
    text-align: center;
    width: 390px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
  }
  
  .reg input{
    background-color: white;
    color: rgb(154, 199, 199);
    height: 40px;
    width: 250px;
    margin-top: 13px;
    border: 2px solid rgb(246, 46, 60);
    border-radius: 13px;
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: fantasy;
    font-size: large;
  }
  .reg button{
    width: 202px;
    height: 52px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: rgb(182, 33, 33);
    color: white;
    cursor: pointer;
    font-size: large;
  }
  .loginp{
    display:flex;
  }
  .loginp button{
    padding: 8px;
    background-color: #f4f8f6;
    color: black;
    border-radius: 13px;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 4px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  